body{
	margin: 0;
	padding: 0;
}
.slide{
	width: 100vw;
	height: 100vh;
}
.wrapper{
	display: flex;
	flex-direction: row;
	width: 500vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}
.one{
	background: #efdefe;
}
.two{
	background: #efd06d;
}
.three{
	background: #a3f3d3;
}
.four{
	background: #0bbaa0;
}
.five{
	background: #e789c8;
}
.outer-wrapper{
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar{
	display: none;
}