html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
.slide{
	width: 100vw;
	height: 100vh;
}
.wrapper{
	display: flex;
	flex-direction: row;
	width: 500vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}
.one{
	background: linear-gradient(90deg,#833ab4,#fd1d1d,#fcb045);
}
.two{
	background: #ffffff;
}
.three{
	background: #ffffff;
}
.four{
	background: #ffffff;
}
.five{
	background: linear-gradient(90deg,#fcb045,#fd1d1d,#833ab4);
}
.outer-wrapper{
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar{
	display: none;
}



nav{
	text-align: center;
}
div nav ul a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	transition: .5s;
}
div nav ul a:hover{
	font-size: 25px;
	transition: .5s;
}
div nav ul a li{
	list-style: none;
}

header{
	position: relative;
	top: 30%;
	font-size: 60px;
	color: white;
}
header div{
	font-size: 30px;
}
#seemore{
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 20px;
	background: transparent;
	color: white;
	font-size: 20px;
	padding: 10px;
	transition: .5s;
}
#seemore:hover{
	background: white;
	color: orange;
	transition: .5s;
}
#explosionbox p{
	color: black;
	font-size: 40px;
	position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  grid-row-gap: 20px;
  padding: 10px;
}

.grid-container > div {
 
  text-align: center;
  font-size: 20px;
}
img{
  height: 200px;
  width: 200px;
  border-radius: 20px;

}
div{
	text-align: center;
}
div ul a{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 10px 20px;
	transition: .5s;
}
div ul a:hover{
	font-size: 25px;
	transition: .5s;
}
div ul a li{
	list-style: none;
}
#frames p{
	color: black;
	font-size: 40px;
	position: relative;
}
#cards p{
	color: black;
	font-size: 40px;
	position: relative;
}
#contact div{
	position: relative;
	top: 30%;
	font-size: 50px;
	color: white;
}

#contactbtn{
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 20px;
	background: transparent;
	color: white;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	transition: .5s;
}
#contactbtn:hover{
	background: white;
	color: orange;
	transition: .5s;
}